table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

table.dataTable tbody td {
  vertical-align: middle;
}

div.dataTables_wrapper  div.dataTables_filter {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

div.dataTables_wrapper  div.dataTables_filter input {
  margin-left: 0;
  font-size: 1.4em;
  border-radius: 5px;
  border: 2px solid #fff 0.8;
  color: #333;
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: center right !important;
}


div.dataTables_wrapper  div.dataTables_filter input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
div.dataTables_wrapper  div.dataTables_filter input:-ms-input-placeholder, /* Internet Explorer 10-11 */
div.dataTables_wrapper  div.dataTables_filter input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff !important;
  opacity: 1; /* Firefox */
}

div.dataTables_wrapper button.update {
  margin-left: 10px;
}

body {
  /* background: url("bg-dark.jpg") no-repeat scroll 0px 100% / cover transparent; */
  /* background: -webkit-linear-gradient(bottom, #c471f5, #fa71cd); */
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 3em 0;
}

header h1 {
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(255,255,255,0.2);
}

nav {
  margin: 1.5em 0;
}

main {
  padding: 0 0 50px 0;
}

#scheduleTable {
  background: #fff;
  padding: 10px 15px;
  border: 0;
  -webkit-box-shadow: 0px 1px 9px 5px rgba(255,255,255,0.10);
  box-shadow: 0px 1px 9px 5px rgba(255,255,255,0.10);
}

#scheduleTable thead {
  border: 0;
}

#scheduleTable tbody {
  border: 0;
}

#scheduleTable th {
  font-weight: 600;
  border: 0;
  color: #333;
  white-space: nowrap;
  padding: 20px 15px;
}

#scheduleTable tbody tr {
  border-top: 1px ;
  border-bottom: 0;
  background: transparent;
  /* cursor: pointer; */
}

#scheduleTable tbody tr:hover {
  background: rgba(0,0,0,0.05);
}

#scheduleTable td {
  color: #666;
  border-bottom: 0;
  padding: 20px 15px;
}
